.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  /* flex-basis: 30%; */
  flex: 1;
}

.left{
  flex-basis: 40%;
  border-right: 3px solid black;
}
.day-view{display: flex;}

.calendar-month-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}

.calendar-month-header-selected-month {
  font-size: 24px;
  font-weight: 600;
}

.calendar-month-header-selectors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.calendar-month-header-selectors > * {
  cursor: pointer;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.day-of-week {
  color: var(--grey-800);
  font-size: 18px;
  background-color: #fff;
  padding-bottom: 5px;
  padding-top: 10px;
  margin:0;
}

.day-of-week,
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-inline-start: 0px;
}

.day-of-week > * {
  text-align: center;
  padding-right: 5px;
}

.days-grid {
  height: 100%;
  position: relative;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  border-top: solid 1px var(--grey-200);
  margin:0;
}
.hours-grid{
  display: grid;
  grid-template-columns:repeat(1,1fr);
  height: 100%;
  position: relative;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  border-top: solid 1px var(--grey-200);
  margin:0;
}

.calendar-day-empty {
  position: relative;
  min-height: 100px;
  font-size: 16px;
  /* background-color: #e4e9f0; */
  background-color: #e4e9f0;
  border: solid 0.5px  #cfd7e3;
  color: #b5c0cd;
  padding: 5px;
}

.calendar-day-empty > span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2px;
  width: var(--day-label-size);
  height: var(--day-label-size);
} 

.calendar-day {
  position: relative;
  min-height: 100px;
  font-size: 16px;
  background-color: #fff;
  border: solid 0.5px  #cfd7e3;
  color: var(--grey-800);
  padding: 5px;
}

.calendar-day > span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2px;
  width: var(--day-label-size);
  height: var(--day-label-size);
}

.timings {
  text-align: right;
  padding-right: 10px;
  margin-top:2px;
  background-color: white;
  border-right-width: 5px;
  border-color: #D1D1D1;
  font-size: 0.5em;

} 
.timings span {
  font-size: 150%;
  text-align:left !important;
  color: #696969;
}

.timings .date{
  height:60px;
  margin:0;
  padding:0;
}

.timings .small{
  height: 30px;
}

.timings-event{
  /* margin-top:52px; */
  position: relative;
  width: 85%; 
  height: 720px;
  font-size: 10px;
}

.events{
  /* margin-top:48px; */
  width: 85%; 
 height: 720px;
 border: #DFBC6A 1px solid;
 display: inline-block; 
 justify-content: space-between;
 background-color: #F0F0F0;
 cursor: move;
}

.days {
  height: 720px;
  width: 620px;
  padding: 0px 10px;
  background-color: #F0F0F0;
  border-color: #D1D1D1;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

.day-view-grid{
  margin: 0;
  padding: 0; 
}

.day-view-empty{
  border-bottom-color: #b5c0cd;
  background: white;
  height:60px;
  border-width: 0px;
  border-style: solid;
  border-top-width: 1px;
  border-color: #D1D1D1;
}

.event {
  background-color: rgba(86, 184, 134, 0.1);
  position: absolute;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-left-width: 5px;
  border-color: #D1D1D1;
  border-left-color: #57b986;
  text-align:left;
  padding-left: 5px;
  font-size: 20px;
  cursor: move;
}


.fa-times-circle{
font-size: 20px;
color: #c87f8a;
background: white;
transition: 0.7s;
border-style: none;
}

.fa-cut, .fa-trash-alt,.fa-plus,.fa-copy,.fa-bell{
font-size: 10px;
color: #c87f8a;
transition: 0.3s;

}

.menu {
/* background-color: white; */
top:100px;
left:100px;
height: 100px;
width: 100px;
display:flex;
transform: scale(0);
-webkit-transform: scale(0);
-moz-transform: scale(0);
opacity: 0;
position: absolute;
transition: all 0.1s ease-out;
-webkit-transition: all 0.1s ease-out;
-moz-transition: all 0.1s ease-out;
}

.open.menu{
 opacity: 1;
 transform:scale(2);
 -webkit-transform: scale(2);
 -moz-transform: scale(2);
}

.menu a {
width: 20px;
height: 20px;
text-decoration: none;
border-style: solid;
border-radius: 50%;
border-width: thin;
border-color: #c87f8a;
/* color:#c87f8a; */
position: absolute;
display: flex;
align-items: center;
margin:2px;
justify-content: center;
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
}



a:nth-child(2){
transform:rotate(0deg);
top:37px;left:40px;
transition-delay: 0.2s;
-webkit-transition-delay: 0.2s;
}
div#menu.open.menu a:nth-child(2) {
top:37px;left:14px;
transform:rotate(315deg);
}

a:nth-child(3){
transform:rotate(0deg);
transition-delay: 0.4s;
-webkit-transition-delay: 0.4s;
top:37px;left:40px;
}
div#menu.menu.open a:nth-child(3){
top:13px;left:27px;
transform:rotate(360deg);
}

a:nth-child(4){
transition-delay: 0.6s;
-webkit-transition-delay: 0.6s;
top:37px;left:40px;
transform:rotate(0deg);
}
div#menu.menu.open a:nth-child(4){
top:13px;left:53px;
transform:rotate(360deg);
}

a:nth-child(5){
transition-delay: 0.8s;
-webkit-transition-delay: 0.8s;
top:37px;left:40px;
transform:rotate(0deg);
}
div#menu.menu.open a:nth-child(5){
top:37px;left:66px;
transform:rotate(360deg);
}

a:nth-child(1){
transition-delay: 0s;
-webkit-transition-delay: 0s;

top:37px;left:40px;
transform:rotate(0deg)
}
div#menu.menu.open a:nth-child(1){
transform:rotate(360deg);
}


/* a:nth-child(6){
top: 24px;
left: 6px;
}
a:nth-child(7){
top: 38px;
left: 37px;
} */

.menu a:hover {
color:#7FC8BD;
border-color: #7FC8BD;
}


.add-event {
border: 3px solid #f1f1f1;
display: none;
position: absolute;
border-radius: 5%;
border-color: rgb(241, 241, 241);
/* border-color:  rgb(200, 127, 138,0.3); */
width: 300px;
}
/* Add styles to the form container */
.form-container {
/* max-width: 300px; */
padding: 10px;
border-radius: 5%;
/* pointer-events: none; */
background-color: white;
}

.form-container .headers{
color: dimgrey;
padding: 12px 10px 10px 5px;
font-size: 12px;
/* padding-left: 0px; */
}

/* Full-width input fields */
.form-container .title{
width: 100%;
padding: 10px;
margin: 5px 0 10px 0;
border: none;
border-bottom: 2px solid #c87f8a;
background: rgb(241, 241, 241,0.4);
}
.form-container .textextra{
font-size: 10px;
width: 100%;
padding: 10px;
margin: 5px 0 10px 0;
border: none;
/* border-bottom: 2px solid #c87f8a; */
background: rgb(241, 241, 241,0.4);
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus{
/* background-color: #ddd; */
font-weight: bold;
outline: none;
}

.form-container .btn {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
margin: 5px 10px 5px 10px;
border: none;
cursor: pointer;
width: 100%;
height: 50%;
opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: red;
}